/*------------------------------------------------------------login CSS section------------------------------------------------*/
/*login background image */
#login-back {
  background-image: url(https://wallpaperbat.com/img/16304-artificial-intelligence-wallpaper-top-free-artificial.jpg);
  background-repeat: no-repeat;
  height: 100%;
  background-position: center;

  background-size:cover;
}

#login-main{
  padding-top: 2%;
  height: 100%;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}

#login {
  display: flex;
  flex: 2;
  justify-content: center;
  padding-bottom: 2%;
}

#about {
  display: flex;
  flex-direction: column;
  flex: 3;
}

#covid{
  padding-top: 30px;
  flex: 3;
}

#welcome{
  padding-top: 30px;
  flex: 4;
}

.tab-header{
  background-color: rgb(29, 34, 80);
  height: 30px;
  width: 70%;
  border-radius: 10px;
  margin: auto;
  margin-bottom: -1%;
  text-align: center;
  padding-top: 10px;
  font-weight: bolder;
  color: white;
  position: relative;
}

.describer{
  height: 70%;
  width: 90%;
  background-color: rgba(255, 255, 255, 0.70);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.9), 0 6px 20px 0 rgba(0, 0, 0, 0.79);
  margin: auto;
  text-align: center;
  border-radius: 30px;
}

#login-sect{
  background-color: rgba(255, 255, 255, 0.8);
  margin: auto;
  width:70%;
  min-height: 70%;
  border-radius: 50px;
  padding-bottom: 10px;
}

#logo{
  padding-top: 5%;
  height: 20%;
  border-radius: 20px;
  margin: auto;
}

#logo-img{
  width: 40%;
  height: auto;
  border-radius: 20px;
  padding-top: 10px;
  margin-left: 30%;
}

#login-title{

  margin-top: -5%;
  color: black;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 12px;
}

#information{
  padding-top: 5%;
}

.input-param{
  color: black;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 25px;
  margin-left: 10%;
  margin-bottom: 1%;
}

.info{
  height: 60px;
  width: 80%;
  margin-left: 10%;
  margin-bottom: 5%;
}

#utoridLog{
  height: 60px;
  width: 80%;
  margin-left: 10%;
  background-color: rgb(29, 34, 80);
  border-radius: 0.12em;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  font-size: 30px;
  text-shadow: 0 0.04em 0.04em rgba(0,0,0,0.35);
  text-align:center;
}

#utoridLog:hover{
  color: aliceblue;
  border-color: white;
}

#new_account{
  margin-left: 10%;
  margin-bottom: 10px;
}

.error{
  margin-left: 10%;
  color: red;
  animation-duration: 0.2s;
  animation-name: shake;
}

@keyframes shake {
  from {
    margin-left:40%
  }
  to{
    margin-left: 10%;
  }
}

/*--------------------------------------------------end of login CSS section------------------------------------------------*/