{% extends "index.html" %}
{% block content %}
<div class="inner_body">
    <p>pick student</p>
    <form id='studform'> 
        <label for="studname">Select Student Name</label>
        <select id="studname" name="studname">
        {% for name in names %} 
        <option value="{{name}}">{{name}}</option>
        {% endfor %}
        </select><br>
        <button type="submit">Submit</button>
    </form>
    <div class="big_title">
        All {{user}}'s grades:
    </div>

    <form action='/modifygrades' method='POST'>
        <input id='user' type = "hidden" name = "user" value = "{{user}}"/>
        <div class='chart_header'>
            <div class='mark_name'>Assesment</div>
            <div class='due_date'> Due Date</div>
            <div class='status'>Status</div>
            <div class='score'>Score</div>
            <div class='out_of'>Out of</div>
        </div>

        <div id='light_header' class='chart_header'>
            <div class='mark_name'>Assignment 1: Graphs</div>
            <div class='due_date'> January 4, 2020 by 11:59pm</div>
            <div class='status'>Submitted</div>
            <input type="text" name="a1" placeholder="{{mark['a1']}}" class='score'>
            <div class='out_of'>100</div>
        </div>
        <div id='light_header' class='chart_header'>
            <div class='mark_name'>Assignment 2: Trees</div>
            <div class='due_date'> January 24, 2020 by 11:59pm</div>
            <div class='status'>Submitted</div>
            <input type="text" name="a2" placeholder="{{mark['a2']}}" class='score'>
            <div class='out_of'>100</div>
        </div>
        <div id='light_header' class='chart_header'>
            <div class='mark_name'>Assignment 3: Graphs</div>
            <div class='due_date'> January 24, 2020 by 11:59pm</div>
            <div class='status'>Submitted</div>
            <input type="text" name="a3" placeholder="{{mark['a3']}}" class='score'>
            <div class='out_of'>100</div>
        </div>
        <div id='light_header' class='chart_header'>
            <div class='mark_name'>Midterm</div>
            <div class='due_date'> January 30, 2020 by 11:59pm</div>
            <div class='status'>Submitted</div>
            <input type="text" name="midterm" placeholder="{{mark['midterm']}}" class='score'>
            <div class='out_of'>100</div>
        </div>
        <div id='light_header' class='chart_header'>
            <div class='mark_name'>Labs</div>
            <div class='due_date'> April 1, 2020 by 11:59pm</div>
            <div class='status'>Submitted</div>
            <input type="text" name="lab" placeholder="{{mark['lab']}}" class='score'>
            <div class='out_of'>100</div>
        </div>
        <div id='light_header' class='chart_header'>
            <div class='mark_name'>Final</div>
            <div class='due_date'> April 10, 2020 by 11:59pm</div>
            <div class='status'>Submitted</div>
            <input type="text" name="final" placeholder="{{mark['final']}}" class='score'>
            <div class='out_of'>100</div>
        </div>
        <input type="submit" value="Submit">
    </form>
</div>
<script src="{{url_for('static', filename='em.js')}}"></script>
{% endblock %}
