{% extends "index.html" %}
{% block content %}
<form action="/newremark" method="POST">
    <p>reason</p>
    <input type="text" name="reason">
    <p>a1</p>
    <input type="text" name="a1">
    <p>a2</p>
    <input type="text" name="a2">
    <p>a3</p>
    <input type="text" name="a3">
    <p>midterm</p>
    <input type="text" name="midterm">
    <p>lab</p>
    <input type="text" name="lab">
    <p>final</p>
    <input type="text" name="final">
    <button type='submit'>hate</button>
</form>
{% endblock %}
