{% extends "index.html" %}
{% block content %}
<div class="remark_body">
    <div id = remark_title>
      Remark Request!
    </div>
    <form action="/newremark" method="POST">
       <div id="reason">Reason For Remark (Make sure to put why you think each question on the Assesment needs to be Remarked!)</div>
       <input type="text" id= "reason_box" name="reason">

       <select name='assignment' id="remark_type">
          <option value="a1">Assignment 1</option>
          <option value="a2">Assignment 2</option>
          <option value="a3">Assignment 3</option>
          <option value="midterm">Midterm</option>
          <option value="lab">Labs</option>
          <option value="final">Final</option>
       </select>
     <button id="sub_but" type='submit'>Submit</button>
    </form>

</div>
{% endblock %}
